@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Lato", sans-serif;
  background: #3f6cb1;
}

.headingOne {
  font-size: 3.5rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.headingTwo {
  font-size: 2.5rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.paragraph {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.mainInformation {
  width: 100vw;
  padding: 20px;
}
.mainInformation__city {
  text-align: center;
}
.mainInformation__weatherBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.mainInformation__mainTemperature {
  font-size: 10rem;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 20px;
}
.mainInformation__degree {
  font-size: 5rem;
  line-height: 6rem;
}
.mainInformation__celsius {
  color: #FFFFFF;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 10px;
}
.mainInformation__fahrenheit {
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2.5rem;
}
.mainInformation__chooseScaleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.mainInformation__descriptionWeather {
  text-align: center;
  font-weight: 400;
}
.mainInformation__time {
  text-align: center;
  padding: 10px;
}
.mainInformation__accurateWeatherInformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.mainInformation__accurateWeatherInformation .paragraph {
  padding: 5px 10px;
}

.hoursSection {
  padding: 20px;
}
.hoursSection__slider {
  width: 100%;
  display: flex;
}
.hoursSection__slide {
  width: 33%;
  padding-top: 30px;
}
.hoursSection__icon {
  width: 60px;
}
.hoursSection__temperature {
  font-size: 3rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px 0px;
}
.hoursSection__informationParagraph {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.hoursSection__humidity {
  font-size: 1.5rem;
  color: #BBBBBB;
  font-family: "Lato", sans-serif;
  padding-top: 15px;
  display: flex;
  align-content: center;
}
.hoursSection__wind {
  font-size: 1.5rem;
  color: #BBBBBB;
  font-family: "Lato", sans-serif;
  padding-top: 7px;
  display: flex;
  align-content: center;
}
.hoursSection__smallIcon {
  margin-right: 5px;
  width: 1.5rem;
}
.hoursSection__hour {
  font-size: 2rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding-top: 20px;
}

.daysSection {
  padding: 20px;
}
.daysSection__slider {
  width: 100%;
  display: flex;
}
.daysSection__slide {
  width: 33%;
  padding-top: 30px;
}
.daysSection__icon {
  width: 60px;
  padding-top: 10px;
}
.daysSection__dayParagraph {
  font-size: 2rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px 0px;
}
.daysSection__temperatureBox {
  padding: 10px 0px;
}
.daysSection__dayTemperature {
  font-size: 3rem;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px 0px;
  line-height: 2.5rem;
}
.daysSection__nightTemperature {
  font-size: 2rem;
  color: #BBBBBB;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px 0px;
  line-height: 2rem;
  margin-left: 10px;
}
.daysSection__temperatureBox {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}/*# sourceMappingURL=main.css.map */