@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url("/image/smokeBackground.jpg");
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.paragraph {
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 300;
}

.paragraphBold {
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 500;
}

.headingTwo {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 400;
}

.searchBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.searchBar__input {
  width: 80%;
  border-radius: 8px;
  margin: 0px 20px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 10px;
}
.searchBar__icon {
  width: 30px;
  height: 30px;
}

.mainInformation {
  width: 80%;
  margin: 20% auto;
}
.mainInformation__time {
  text-align: center;
}
.mainInformation__city {
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 300;
  text-align: center;
}
.mainInformation__weatherMainInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.mainInformation__image {
  width: 80px;
}
.mainInformation__temperature {
  font-size: 11rem;
  color: #FFFFFF;
  line-height: 11rem;
  font-weight: 200;
}
.mainInformation__o {
  font-size: 4rem;
  color: #FFFFFF;
}
.mainInformation__changeCF {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
}
.mainInformation__celsius {
  font-size: 2rem;
  color: #FFFFFF;
}
.mainInformation__fahrenheit {
  font-size: 2rem;
  color: #FFFFFF;
}
.mainInformation__weather {
  font-size: 2.5rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: 300;
}

.statistics {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistics__box {
  width: 45%;
  text-align: center;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-bottom: 20px;
  padding: 10px;
}
.statistics__image {
  width: 30px;
}

.todayStatistics {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  margin: 0px 20px;
  border-radius: 8px;
}
.todayStatistics__top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.todayStatistics__bottomBox {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 20px;
}
.todayStatistics__weatherBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dayStatistics {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}
.dayStatistics__top {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.dayStatistics__bottom {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}
.dayStatistics__icon {
  width: 30px;
  height: 25px;
  margin-left: 10px;
}
.dayStatistics__cityWeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}
.dayStatistics__temperature {
  font-size: 4rem;
}
.dayStatistics__right {
  text-align: right;
}/*# sourceMappingURL=main.css.map */