.topBar
    width: 100%
    padding: $paddingSection
    background: $white
    border-radius: $borderRadius
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: flex-end
    flex-wrap: wrap

    &__input
        width: 85%
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 1px solid $borderColor
        font-family: 'Poppins', sans-serif
        color: $black
        font-weight: 400
        font-size: 1.4rem
        line-height: 21px
        letter-spacing: 1px
        padding: 5px 5px

        &:focus
            outline: none
            border-bottom: 1px solid $black

    &__iconSearch
        width: 35px
    
.mainInformation
    width: 100%
    padding: $paddingSection
    background: $white
    border-radius: $borderRadius
    margin: $marginSection

    &__icon
        width: 35px
        margin-right: 15px

    &__paragraph
        margin-top: 5px

    &__solarInformation
        display: flex
        flex-direction: row
        justify-content: space-between

    &__sunrise,
    &__sunset
        display: flex
        flex-direction: row
        align-content: center
        align-items: center
        padding-top: 10px

.weatherNow
    width: 100%
    padding: $paddingSection
    background: $white
    border-radius: $borderRadius
    margin: $marginSection
    display: flex
    flex-direction: row
    justify-content: space-between

    &__temperatureParagraph
        font-weight: 400
        font-size: 2.8rem
        line-height: 42px
        letter-spacing: 1px
        color: $blue
        display: flex
        align-content: center
        align-items: center

    &__feltTemperature
        padding-left: 15px

    &__iconBox
        width: 25%

    &__temperatureDescription
        width: 65%
        display: flex
        flex-direction: column
        justify-content: center

    &__icon
        width: 100%

.weatherNowBox
    width: 100%
    margin: $marginSection
    display: flex
    flex-direction: row
    justify-content: space-between

    &__box
        display: flex
        flex-direction: column
        justify-content: space-between
        align-content: center
        align-items: center
        text-align: center
        background-color: $white
        width: 30%
        border-radius: $borderRadius
        padding: $paddingSection

    &__icon
        width: 35px

    &__boxWithInformation
        margin-top: 10px

.todayWeather
    width: 100%
    margin: $marginSection

    &__slider
        display: flex
        flex-direction: row

    &__slide
        display: flex
        flex-direction: column
        justify-content: space-between
        align-content: center
        align-items: center
        text-align: center
        background-color: $white
        width: 18%
        border-radius: $borderRadius
        padding: $paddingSection
        margin-right: 10px

    &__icon
        width: 35px

    &__paragraphStrong
        margin-bottom: 5px

    &__paragraphBlue
        margin-top: 5px

.weatherForecast
    width: 100%
    margin: $marginSection

.dailyWeather
    width: 100%
    margin: $marginSection

    &__row
        background-color: $white
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: $paddingSection
        align-content: center
        align-items: center
        border-bottom: 1px solid $borderColor

        &:first-child
            border-top-left-radius: $borderRadius
            border-top-right-radius: $borderRadius

        &:last-child
            border-bottom-left-radius: $borderRadius
            border-bottom-right-radius: $borderRadius

    &__iconCenter
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        align-content: center

    &__icon
        width: 35px
        margin-right: 5px
