.mainInformation
    width: 100vw
    padding: $padding

    &__city
        text-align: center

    &__weatherBox
        display: flex
        flex-direction: row
        justify-content: center
        align-content: center
        align-items: center

    &__mainTemperature
        font-size: 10rem
        font-weight: 300
        color: $white
        line-height: 10rem
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-content: flex-start
        align-items: flex-start
        margin: 0 20px

    &__degree
        font-size: 5rem
        line-height: 6rem

    &__celsius
        color: $white
        font-size: 3rem
        line-height: 3rem
        margin-bottom: 10px

    &__fahrenheit
        color: $white
        font-size: 2rem
        line-height: 2.5rem

    &__chooseScaleBox
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        margin-bottom: 1.5rem

    &__descriptionWeather
        text-align: center
        font-weight: 400

    &__time
        text-align: center
        padding: 10px

    &__accurateWeatherInformation
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding-top: 20px

        .paragraph
            padding: 5px 10px

.hoursSection
    padding: $padding

    &__slider
        width: 100%
        display: flex

    &__slide
        width: 33%
        padding-top: 30px

    &__icon
        width: 60px

    &__temperature
        font-size: 3rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 5px 0px

    &__informationParagraph
        font-size: 1.5rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400

    &__humidity
        font-size: 1.5rem
        color: $gray
        font-family: 'Lato', sans-serif
        padding-top: 15px
        display: flex
        align-content: center

    &__wind
        font-size: 1.5rem
        color: $gray
        font-family: 'Lato', sans-serif
        padding-top: 7px
        display: flex
        align-content: center

    &__smallIcon
        margin-right: 5px
        width: 1.5rem

    &__hour
        font-size: 2rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding-top: 20px

.daysSection
    padding: $padding

    &__slider
        width: 100%
        display: flex

    &__slide
        width: 33%
        padding-top: 30px

    &__icon
        width: 60px
        padding-top: 10px

    &__dayParagraph
        font-size: 2rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 5px 0px

    &__temperatureBox
        padding: 10px 0px

    &__dayTemperature
        font-size: 3rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 5px 0px
        line-height: 2.5rem

    &__nightTemperature
        font-size: 2rem
        color: $gray
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 5px 0px
        line-height: 2rem
        margin-left: 10px

    &__temperatureBox
        display: flex
        align-items: flex-end
        align-content: flex-end

.moreInformation
    padding: $padding

    &__day
        font-size: 2rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 20px 0px 5px 0px

    &__time
        font-size: 3rem
        color: $white
        font-family: 'Lato', sans-serif
        font-weight: 400
        padding: 5px 0px
        line-height: 2.5rem

    &__icon
        width: 40px
        margin-right: 5px

    &__sunBox
        display: flex
        align-content: center
        align-items: center

    &__sunSetInformationBox
        display: flex
        justify-content: space-between