@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap')

*,
::after,
::before
    margin: 0px
    padding: 0px
    font-size: 62.5%
    scroll-behavior: smooth
    box-sizing: border-box

$white: #FFFFFF
$gray: #F2F2F2
$grayParagraph: #77838F
$black: #000000
$blue: #679FFD
$borderColor: #D8D8D8
$red: #FF0000

$borderRadius: 8px
$paddingSection: 15px
$borderRadius: 10px
$marginSection: 30px 0px
