@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

*,
::after,
::before
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-size: 62.5%
    scroll-behavior: smooth

$white: #FFFFFF
$gray: #BBBBBB
$borderRadius: 8px
$padding: 20px

body
    width: 100vw
    font-family: 'Lato', sans-serif
    background: #3f6cb1

.headingOne 
    font-size: 3.5rem
    color: $white
    font-family: 'Lato', sans-serif
    font-weight: 300
    
.headingTwo
    font-size: 2.5rem
    color: $white
    font-family: 'Lato', sans-serif
    font-weight: 400

.paragraph
    font-size: 1.5rem
    color: $white
    font-family: 'Lato', sans-serif
    font-weight: 400
    

@import "./_small"