@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap')

*,
::after,
::before
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-size: 62.5%
    scroll-behavior: smooth

$white: #FFFFFF
$borderRadius: 8px
$padding: 20px

body
    background-image: url("/image/smokeBackground.jpg")
    width: 100vw
    font-family: 'Poppins', sans-serif
    
@import "./_small"